<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- mimeMap enables IIS to serve particular file types as specified by fileExtension. -->
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
        </staticContent>

        <modules runAllManagedModulesForAllRequests="false"/>

        <!-- Web.Debug.config adds attributes to this to enable remote debugging when publishing in Debug configuration. -->
        <iisnode watchedFiles="web.config;*.js;routes\*.js;views\*.jade"/>
        <handlers>
            <add name="iisnode" path="/bin/www" verb="*" modules="iisnode"/>
        </handlers>

        <rewrite>
            <rules>
                <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="iisnode.+" negate="true"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
                    <action type="Rewrite" url="bin\www"/>
                </rule>

                <!--<rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="app/*" negate="true"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
                    <action type="Rewrite" url="bin\www"/>
                </rule>-->
            </rules>
        </rewrite>
    </system.webServer>

    <!-- Remote debugging (Azure Website with git deploy): uncomment system.web below -->
    <!--<system.web>
      <httpRuntime targetFramework="4.5"/>
      <customErrors mode="Off"/>
    </system.web>-->
</configuration>